:root{font-size: 62.5%;}

body{
  background: linear-gradient(45deg, #120361 0%, #BB00FF 100%);
  display:grid;
  place-items: center;
  height: 100vh;
} 

main {
  background-color: white;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.80);
  border-radius: .5rem;
  margin-top: -5rem;
  text-align: center;
  display: flex;
  width:fit-content;
  height:fit-content;
  
  padding: 3rem 4rem 4rem 4rem;
  justify-content: center;
  align-items: center;  
}


h1{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2.4rem;
  width:25rem;
}
.screen1{
  display: flex;
  width:auto;
  padding:0 4rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
#cookie:hover{cursor: pointer;
}
#again:hover{cursor: pointer;}

p{
  color: #34355B;
  text-align: center;
  font-family: "DM Sans";
  font-size: 1.5rem;
  font-weight: 400;
}
.screen2 p{
  font-family: "Dancing Script", cursive;
  
  font-weight: 400;
  font-style: normal;

  background-color: E4EDF1;

  padding:0.62rem;
  background: #E4EDF1;
  box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.50);
  
}

.screen2{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.0625rem; 
  width:18.75rem;}
.screen2 h1{
    font-size: 1.5rem;
  }
.screen2 img{
  max-width:18.75rem ;
  margin-top: 2.7rem;
  margin-bottom: 2.6rem;
}
  .screen2 button{

    display: flex;
padding: 1rem;
align-items: flex-start;
gap: 0.625rem;
    border-radius: 0.25rem;
background: #FF9500;
color: #FFF;

text-align: center;
font-family: "DM Sans";
font-size: 0.9375rem;
font-style: normal;
font-weight: 700;
line-height: normal;
border-style: none;
  }

  .hide{
    display: none;
  }

  